In [1]:
import pyforest

In [2]:
cx_df = pd.read_excel('Customerdata_Train.xlsx')
cx_df.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay
0,C16368,CITY2,2012-09-28,0,0,0,Monday
1,C20345,CITY2,2010-12-19,1,1,1,Friday
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday
3,C18647,CITY4,2010-11-27,0,0,0,Monday
4,C36692,CITY2,2009-12-04,1,1,0,Friday

In [3]:
cx_df.info(), cx_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23820 entries, 0 to 23819
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            23820 non-null  object
 1   City                  23820 non-null  object
 2   DateOfRegistration    23820 non-null  datetime64[ns]
 3   OnlineCommunication   23820 non-null  int64
 4   AutomaticRefill       23820 non-null  int64
 5   DoorstepDelivery      23820 non-null  int64
 6   PreferredDeliveryDay  23820 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 1.3+ MB

(None, (23820, 7))

In [4]:
email_data = pd.read_excel('Emaildata_Train.xlsx')
email_data.head()

  CustomerID DateOfemail     EmailType timestamp MailOpened    MailClicked
0     C16368  2012-09-28  WelcomeEmail  15:56:50        yes  NotApplicable
1     C20345  2010-12-19  WelcomeEmail  15:10:30        yes  NotApplicable
2     C17683  2010-10-03  WelcomeEmail  17:12:24        yes  NotApplicable
3     C18647  2010-11-27  WelcomeEmail  16:59:02        yes  NotApplicable
4     C36692  2009-12-04  WelcomeEmail  17:27:22        yes  NotApplicable

In [5]:
email_data.info(), email_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517672 entries, 0 to 517671
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   517672 non-null  object
 1   DateOfemail  517672 non-null  object
 2   EmailType    517672 non-null  object
 3   timestamp    517672 non-null  object
 4   MailOpened   517672 non-null  object
 5   MailClicked  517672 non-null  object
dtypes: object(6)
memory usage: 23.7+ MB

(None, (517672, 6))

In [6]:
train_df = pd.read_excel('Train.xlsx')
train_df.head()

  CustomerID RetentionPotential
0     C37869                Low
1     C33841                Low
2     C29464                Low
3     C28158                Low
4     C22785               High

In [7]:
transaction_df = pd.read_excel("transactionsdata_Train.xlsx")
transaction_df.head()

  CustomerID DateOfOrder timestamp  OrderQuantity
0     C16368  2013-08-11  15:17:52             15
1     C20345  2011-04-01  19:50:00             92
2     C20345  2012-06-29  15:11:56             95
3     C20345  2012-09-22  20:49:10             74
4     C20345  2011-08-23  11:50:26             81

In [8]:
transaction_df.info(), transaction_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104755 entries, 0 to 104754
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CustomerID     104755 non-null  object
 1   DateOfOrder    104755 non-null  object
 2   timestamp      104755 non-null  object
 3   OrderQuantity  104755 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.2+ MB

(None, (104755, 4))

In [9]:
train_df.info(), train_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23820 entries, 0 to 23819
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          23820 non-null  object
 1   RetentionPotential  23820 non-null  object
dtypes: object(2)
memory usage: 372.3+ KB

(None, (23820, 2))

In [10]:
len(cx_df.CustomerID.unique())

23820

In [11]:
len(email_data.CustomerID.unique())

23820

In [12]:
len(transaction_df.CustomerID.unique())

23820

In [13]:
email_data['D_T'] = email_data['DateOfemail'] + ' ' + email_data['timestamp']

In [14]:
email_data['Date_Email'] = pd.to_datetime(email_data['D_T'],infer_datetime_format=True)
email_data['Date_Email'].head()

0   2012-09-28 15:56:50
1   2010-12-19 15:10:30
2   2010-10-03 17:12:24
3   2010-11-27 16:59:02
4   2009-12-04 17:27:22
Name: Date_Email, dtype: datetime64[ns]

In [15]:
email_data.drop(['DateOfemail','timestamp','D_T'],axis=1,inplace=True)
email_data.head()

  CustomerID     EmailType MailOpened    MailClicked          Date_Email
0     C16368  WelcomeEmail        yes  NotApplicable 2012-09-28 15:56:50
1     C20345  WelcomeEmail        yes  NotApplicable 2010-12-19 15:10:30
2     C17683  WelcomeEmail        yes  NotApplicable 2010-10-03 17:12:24
3     C18647  WelcomeEmail        yes  NotApplicable 2010-11-27 16:59:02
4     C36692  WelcomeEmail        yes  NotApplicable 2009-12-04 17:27:22

In [16]:
transaction_df['D_T'] = transaction_df['DateOfOrder'] + ' ' + transaction_df['timestamp']

In [17]:
transaction_df['Date_Order'] = pd.to_datetime(transaction_df['D_T'],infer_datetime_format=True)
transaction_df['Date_Order'].head()

0   2013-08-11 15:17:52
1   2011-04-01 19:50:00
2   2012-06-29 15:11:56
3   2012-09-22 20:49:10
4   2011-08-23 11:50:26
Name: Date_Order, dtype: datetime64[ns]

In [19]:
transaction_df.drop(['DateOfOrder','timestamp','D_T'],axis=1,inplace=True)
transaction_df['Day_of_week'] = transaction_df.Date_Order.dt.day_of_week
transaction_df.head()

KeyError: "['DateOfOrder' 'timestamp' 'D_T'] not found in axis"

In [20]:
gp_email = email_data.groupby('CustomerID').agg({'EmailType':pd.Series.mode,
                                     'MailOpened':pd.Series.mode,
                                     'MailClicked':pd.Series.mode})
gp_email.head()

                  EmailType MailOpened    MailClicked
CustomerID
C12116      CustomizedEmail         no             no
C12117         WelcomeEmail        yes  NotApplicable
C12118         WelcomeEmail        yes  NotApplicable
C12119      CustomizedEmail         no             no
C12120         WelcomeEmail        yes  NotApplicable

In [21]:
gp_trn = transaction_df.groupby(['CustomerID']).agg({'OrderQuantity':'mean',
                                           'Day_of_week':'mean'})
gp_trn.head()

            OrderQuantity  Day_of_week
CustomerID
C12116          38.333333     2.333333
C12117          41.000000     3.000000
C12118          41.000000     1.000000
C12119          52.000000     1.000000
C12120          31.000000     4.000000

In [22]:
df1 = cx_df.merge(gp_email,on = 'CustomerID')
df1.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,EmailType,MailOpened,MailClicked
0,C16368,CITY2,2012-09-28,0,0,0,Monday,CustomizedEmail,yes,no
1,C20345,CITY2,2010-12-19,1,1,1,Friday,CustomizedEmail,yes,no
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday,WelcomeEmail,yes,NotApplicable
3,C18647,CITY4,2010-11-27,0,0,0,Monday,CustomizedEmail,yes,no
4,C36692,CITY2,2009-12-04,1,1,0,Friday,CustomizedEmail,no,no

In [23]:
df1.shape

(23820, 10)

In [24]:
df2 = df1.merge(gp_trn,on='CustomerID')
df2.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,EmailType,MailOpened,MailClicked,OrderQuantity,Day_of_week
0,C16368,CITY2,2012-09-28,0,0,0,Monday,CustomizedEmail,yes,no,15.000000,6.000000
1,C20345,CITY2,2010-12-19,1,1,1,Friday,CustomizedEmail,yes,no,83.946237,3.193548
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday,WelcomeEmail,yes,NotApplicable,34.076923,2.384615
3,C18647,CITY4,2010-11-27,0,0,0,Monday,CustomizedEmail,yes,no,106.857143,1.571429
4,C36692,CITY2,2009-12-04,1,1,0,Friday,CustomizedEmail,no,no,69.117647,2.705882

In [25]:
df2.shape

(23820, 12)

In [26]:
df3 = df2.merge(train_df,on='CustomerID')
df3.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,EmailType,MailOpened,MailClicked,OrderQuantity,Day_of_week,RetentionPotential
0,C16368,CITY2,2012-09-28,0,0,0,Monday,CustomizedEmail,yes,no,15.000000,6.000000,High
1,C20345,CITY2,2010-12-19,1,1,1,Friday,CustomizedEmail,yes,no,83.946237,3.193548,Low
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday,WelcomeEmail,yes,NotApplicable,34.076923,2.384615,Medium
3,C18647,CITY4,2010-11-27,0,0,0,Monday,CustomizedEmail,yes,no,106.857143,1.571429,Low
4,C36692,CITY2,2009-12-04,1,1,0,Friday,CustomizedEmail,no,no,69.117647,2.705882,Low

In [27]:
df3.shape

(23820, 13)

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23820 entries, 0 to 23819
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            23820 non-null  object
 1   City                  23820 non-null  object
 2   DateOfRegistration    23820 non-null  datetime64[ns]
 3   OnlineCommunication   23820 non-null  int64
 4   AutomaticRefill       23820 non-null  int64
 5   DoorstepDelivery      23820 non-null  int64
 6   PreferredDeliveryDay  23820 non-null  object
 7   EmailType             23820 non-null  object
 8   MailOpened            23820 non-null  object
 9   MailClicked           23820 non-null  object
 10  OrderQuantity         23820 non-null  float64
 11  Day_of_week           23820 non-null  float64
 12  RetentionPotential    23820 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 2.5+ MB

In [29]:
from sklearn.preprocessing import LabelEncoder

In [61]:
le = LabelEncoder()

In [63]:
df3['City'] = le.fit_transform(df3['City'])

In [64]:
df3['PreferredDeliveryDay'] = le.fit_transform(df3['PreferredDeliveryDay'])

In [66]:
df3['EmailType']= le.fit_transform(df3['EmailType'].str)

ValueError: y should be a 1d array, got an array of shape () instead.

In [67]:
df3['EmailType'].value_counts()

TypeError: unhashable type: 'numpy.ndarray'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'numpy.ndarray'

CustomizedEmail                    14002
WelcomeEmail                        9709
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
                                   ...
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
Name: EmailType, Length: 111, dtype: int64

In [30]:
14002+9702

23704