In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.svm import SVC

In [ ]:
customer_df = pd.read_excel('Customerdata_Train.xlsx')
print(customer_df.shape)
customer_df.head()

In [ ]:
email_df = pd.read_excel('Emaildata_Train.xlsx')
print(email_df.shape)
email_df.head()

(517672, 6)

  CustomerID DateOfemail     EmailType timestamp MailOpened    MailClicked
0     C16368  2012-09-28  WelcomeEmail  15:56:50        yes  NotApplicable
1     C20345  2010-12-19  WelcomeEmail  15:10:30        yes  NotApplicable
2     C17683  2010-10-03  WelcomeEmail  17:12:24        yes  NotApplicable
3     C18647  2010-11-27  WelcomeEmail  16:59:02        yes  NotApplicable
4     C36692  2009-12-04  WelcomeEmail  17:27:22        yes  NotApplicable

In [ ]:
train_df = pd.read_excel('/content/Train.xlsx')
print(train_df.shape)
train_df.head()

(23820, 2)

  CustomerID RetentionPotential
0     C37869                Low
1     C33841                Low
2     C29464                Low
3     C28158                Low
4     C22785               High

In [ ]:
transaction_df = pd.read_excel('/content/transactionsdata_Train.xlsx')
print(transaction_df.shape)
transaction_df.head()

(104755, 4)

  CustomerID DateOfOrder timestamp  OrderQuantity
0     C16368  2013-08-11  15:17:52             15
1     C20345  2011-04-01  19:50:00             92
2     C20345  2012-06-29  15:11:56             95
3     C20345  2012-09-22  20:49:10             74
4     C20345  2011-08-23  11:50:26             81

In [ ]:
df1 = pd.merge(customer_df, train_df, on = 'CustomerID', how = 'left')
print(df1.shape)
df1.head()

(23820, 8)

  CustomerID   City  ... PreferredDeliveryDay  RetentionPotential
0     C16368  CITY2  ...               Monday                High
1     C20345  CITY2  ...               Friday                 Low
2     C17683  CITY2  ...            Wednesday              Medium
3     C18647  CITY4  ...               Monday                 Low
4     C36692  CITY2  ...               Friday                 Low

[5 rows x 8 columns]

In [ ]:
df2 = pd.merge(df1, email_df, on = 'CustomerID', how = 'left')
print(df2.shape)
df2.head()

(517672, 13)

  CustomerID   City DateOfRegistration  ...  timestamp  MailOpened    MailClicked
0     C16368  CITY2         2012-09-28  ...   15:56:50         yes  NotApplicable
1     C16368  CITY2         2012-09-28  ...   15:10:30         yes             no
2     C16368  CITY2         2012-09-28  ...   13:54:22         yes             no
3     C16368  CITY2         2012-09-28  ...   11:22:32         yes             no
4     C16368  CITY2         2012-09-28  ...   14:04:42         yes             no

[5 rows x 13 columns]

In [ ]:
df3 = pd.merge(df2, transaction_df , on = 'CustomerID', how = 'left')
print(df3.shape)
df3.head()

(3883469, 16)

  CustomerID   City DateOfRegistration  ...  DateOfOrder  timestamp_y  OrderQuantity
0     C16368  CITY2         2012-09-28  ...   2013-08-11     15:17:52             15
1     C16368  CITY2         2012-09-28  ...   2013-08-11     15:17:52             15
2     C16368  CITY2         2012-09-28  ...   2013-08-11     15:17:52             15
3     C16368  CITY2         2012-09-28  ...   2013-08-11     15:17:52             15
4     C16368  CITY2         2012-09-28  ...   2013-08-11     15:17:52             15

[5 rows x 16 columns]

In [ ]:
if 'timestamp_x' in df3.columns:
  df3['DateOfOrder'] = df3['DateOfOrder']+' '+ df3['timestamp_x'] 
  df3['DateOfOrder'] = pd.to_datetime(df3['DateOfOrder'])
  del df3['timestamp_x']

if 'timestamp_y' in df3.columns:
  df3['DateOfemail'] = df3['DateOfemail']+' '+ df3['timestamp_y'] 
  df3['DateOfemail'] = pd.to_datetime(df3['DateOfemail'])
  del df3['timestamp_y']

In [ ]:
df3['CustomerID'].value_counts()[:10].to_dict()

{'C15455': 10860,
 'C16810': 11092,
 'C20197': 10494,
 'C20345': 17856,
 'C22536': 11224,
 'C23174': 11055,
 'C23978': 15300,
 'C33945': 20240,
 'C35549': 16030,
 'C41705': 10804}

In [ ]:
df3.dtypes

CustomerID                      object
City                            object
DateOfRegistration      datetime64[ns]
OnlineCommunication              int64
AutomaticRefill                  int64
DoorstepDelivery                 int64
PreferredDeliveryDay            object
RetentionPotential              object
DateOfemail             datetime64[ns]
EmailType                       object
MailOpened                      object
MailClicked                     object
DateOfOrder             datetime64[ns]
OrderQuantity                    int64
dtype: object

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3883469 entries, 0 to 3883468
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   CustomerID            object
 1   City                  object
 2   DateOfRegistration    datetime64[ns]
 3   OnlineCommunication   int64
 4   AutomaticRefill       int64
 5   DoorstepDelivery      int64
 6   PreferredDeliveryDay  object
 7   RetentionPotential    object
 8   DateOfemail           datetime64[ns]
 9   EmailType             object
 10  MailOpened            object
 11  MailClicked           object
 12  DateOfOrder           datetime64[ns]
 13  OrderQuantity         int64
dtypes: datetime64[ns](3), int64(4), object(7)
memory usage: 444.4+ MB

In [ ]:
df3.describe(include=['object'])#only integer

       CustomerID     City  ... MailOpened MailClicked
count     3883469  3883469  ...    3883469     3883469
unique      23820        4  ...          2           3
top        C33945    CITY2  ...         no          no
freq        20240  1861389  ...    2511192     3481233

[4 rows x 7 columns]

In [ ]:
df3.isnull().sum()#no missing values

CustomerID              0
City                    0
DateOfRegistration      0
OnlineCommunication     0
AutomaticRefill         0
DoorstepDelivery        0
PreferredDeliveryDay    0
RetentionPotential      0
DateOfemail             0
EmailType               0
MailOpened              0
MailClicked             0
DateOfOrder             0
OrderQuantity           0
dtype: int64

In [ ]:
df3['OrderQuantity'].describe()

count    3.883469e+06
mean     8.632433e+01
std      4.650906e+01
min      0.000000e+00
25%      5.500000e+01
50%      7.700000e+01
75%      1.060000e+02
max      1.501000e+03
Name: OrderQuantity, dtype: float64

In [ ]:
plt.scatter(df3['OrderQuantity'],df3['DoorstepDelivery'])
plt.show()

In [ ]:
import pandas as pd
import pandas_profiling

In [ ]:
#Profile=df3.profile_report(title="Customer Retention Profile Report")#creates report in HTML
profile = df3.profile_report(title='Pandas Profiling Report')

AttributeError: ignored

In [ ]:
for i in df3.select_dtypes('object').columns:
  l_enc = LabelEncoder()
  trans_data = l_enc.fit_transform(df3[i])
  df3[i] = trans_data

In [ ]:
if 'DateOfRegistration' in df3.columns:
  df3['registration_year'] = df3['DateOfRegistration'].dt.year
  df3['registration_month'] = df3['DateOfRegistration'].dt.month
  df3['registration_week'] = df3['DateOfRegistration'].dt.week
  df3['registration_day'] = df3['DateOfRegistration'].dt.day
  df3['registration_hour'] = df3['DateOfRegistration'].dt.hour
  df3['registration_minute'] = df3['DateOfRegistration'].dt.minute
  df3['registration_weekday'] = df3['DateOfRegistration'].dt.weekday
  del df3['DateOfRegistration']

if 'DateOfOrder' in df3.columns:
  df3['Order_year'] = df3['DateOfOrder'].dt.year
  df3['Order_month'] = df3['DateOfOrder'].dt.month
  df3['Order_week'] = df3['DateOfOrder'].dt.week
  df3['Order_day'] = df3['DateOfOrder'].dt.day
  df3['Order_hour'] = df3['DateOfOrder'].dt.hour
  df3['Order_minute'] = df3['DateOfOrder'].dt.minute
  df3['Order_weekday'] = df3['DateOfOrder'].dt.weekday
  del df3['DateOfOrder']

if 'DateOfemail' in df3.columns:
  df3['Email_year'] = df3['DateOfemail'].dt.year
  df3['Email_month'] = df3['DateOfemail'].dt.month
  df3['Email_week'] = df3['DateOfemail'].dt.week
  df3['Email_day'] = df3['DateOfemail'].dt.day
  df3['Email_hour'] = df3['DateOfemail'].dt.hour
  df3['Email_minute'] = df3['DateOfemail'].dt.minute
  df3['Email_weekday'] = df3['DateOfemail'].dt.weekday
  del df3['DateOfemail']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [ ]:
df3.head()

   CustomerID  City  ...  Email_minute  Email_weekday
0        3349     1  ...            17              4
1        3349     1  ...            17              0
2        3349     1  ...            17              1
3        3349     1  ...            17              0
4        3349     1  ...            17              3

[5 rows x 32 columns]

In [ ]:
df3['CustomerID'].value_counts()[:10]

17287    20240
6495     17856
18548    16030
9366     15300
8202     11224
3702     11092
8720     11055
2633     10860
23439    10804
6374     10494
Name: CustomerID, dtype: int64

In [ ]:
y = df3['RetentionPotential']
X = df3.drop(['RetentionPotential'],axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
model = SVC()

In [ ]:
model.fit(X_train,y_train)

In [ ]:
model.score(X_train,y_train)

In [ ]:
model.score(X_test,y_test)